/* Основные стили для всего сайта */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3 {
    color: #333;
    text-align: center;
}

/* Стили для ссылок */
a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Контейнер для контента */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Стили для формы загрузки */
.upload-section {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.upload-section h2 {
    margin-top: 0;
    font-size: 2em;
    color: #333;
}

.upload-section label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.upload-section input[type="text"],
.upload-section input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.upload-section button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-section button:hover {
    background-color: #0056b3;
}

/* Стили для меню кнопок */
.menu {
    text-align: center;
    margin-top: 20px;
}

.menu a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

.menu a:hover {
    background-color: #0056b3;
}

/* Стили для шкалы прогресса */
.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    position: relative;
    height: 30px;
}

.progress-bar {
    height: 100%;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px; /* Вертикально центрируем текст в прогресс-баре */
    color: white;
    font-weight: bold;
    transition: width 0.3s;
}

/* Стили для таблицы */
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}








